.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.font{
    font-size: smaller;
}

.names{
    display: grid;
}

.maintain{
    display: flex;
}
.stackingThem{
    display: grid;
}

.changedProduct{
    color: #313131; 
    text-align: center;
    margin-top: 1%;
    margin-left: 5%;
    font-size: medium;
    animation: colorchange 20s infinite alternate; 
}

@keyframes colorchange{
    0%{
      color: red;  
    }
    20%{
        color: orangered;
    }
    40%{
        color: orange;
    }
    60%{
        color: #fdb42d;
    }
    80%{
        color: orange
    }
    100%{
        color:orangered; 
    }
}