.inner{
    border: 1px solid #d8dde6;
}

.header-column {
    padding: 0 2rem;
}

.names{
    display: grid;
    font-weight: 500; 
    margin-left: 1%
}
.codeClass{
    font-size: smaller;
}
.title{
    position: relative;
    left: 15px; 
}
.cost{
    position: relative;
    left: 153px; 
}
.list{
    position: relative;
    left: 187px; 
}
.floor{
    position: relative;
    left: 227px;
}

.levelOne{
    position: relative;
    left: 258px;
}

.levelMargin{
    position: relative;
    left: 270px;
}
.levelTwo{
    position: relative;
    left:296px; 
}
.levelTwoMargin{
    position: relative;
    left:310px; 
}
.iconSize{
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border: 1px solid #747474;
    width: .75rem;
    padding-top: 11%;
}